/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1600px) {
    .blog-padding .container-fluid,
    .footer-padding .container-fluid,
    .services-padding .container-fluid {
        padding: 0 100px;
    }
    .blog-content > h3 {
        font-size: 19px;
    }
    .product-padding .container-fluid {
        padding: 0 100px;
    }
    .single-testimonial > p {
        width: 63%;
    }
    .testimonial-active.owl-carousel .owl-nav div {
        left: 100px;
    }
    .testimonial-active.owl-carousel .owl-nav div.owl-next {
        right: 100px;
    }
    .banner-padding .container-fluid,
    .hm-3-padding .container-fluid {
        padding: 0 100px;
    }
    .h3-services .single-services {
        padding: 33px 18px;
    }
    .pl-195 {
        padding-left: 90px;
    }
    .slider-content-2 h2 {
        font-size: 70px;
    }
    .pr-195 {
        padding-right: 90px;
    }
  
    .slider-2 {
        padding: 110px 0 0px;
    }
    .services-text > h5 {
        font-size: 14px;
    }
    .pr-155 {
        padding-right: 95px;
    }
    .footer-widget.pl-125,
    .footer-widget.pl-100 {
        padding-left: 0;
    }
    .product-list-details > h2 {
        font-size: 20px;
    }
    .product-list.product-list-width-3 .product-width {
        flex: 0 0 50%;
    }
    .mt-150 {
        margin-top: 130px;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .slider-content {
        margin-top: 195px;
    }
   
    .slider-2 {
        padding: 150px 0 130px;
    }
    .slider-content {
        margin-top: 80px;
    }
    .mt-150 {
        margin-top: 110px;
    }
    .banner-content-5 > h2 {
        font-size: 28px;
    }
    .blog-padding .container-fluid,
    .footer-padding .container-fluid,
    .services-padding .container-fluid {
        padding: 0 50px;
    }
    .slider-content-2 h2 {
        font-size: 60px;
        line-height: 70px;
    }
    .mt-179 {
        margin-top: 80px;
    }
    .product-padding .container-fluid {
        padding: 0 50px;
    }
    .single-testimonial > p {
        width: 86%;
    }
    .testimonial-active.owl-carousel .owl-nav div {
        left: 10px;
    }
    .testimonial-active.owl-carousel .owl-nav div.owl-next {
        right: 10px;
    }
    .banner-padding .container-fluid,
    .hm-3-padding .container-fluid {
        padding: 0 50px;
    }
    .slider-banner-content3 > h3 {
        font-size: 23px;
    }
    .overview-content > h2 {
        font-size: 30px;
        padding-right: 15px;
    }
    .zoom-out {
        margin: 33px 42px 0 60px;
    }
    .h3-services .single-services {
        margin-right: 10px;
        padding: 33px 10px;
    }
    .h3-services .single-services:last-child {
        margin-right: 0px;
        padding: 33px 10px;
    }
    .services-icon {
        margin-right: 12px;
    }
    .pl-195 {
        padding-left: 50px;
    }
    .pr-195 {
        padding-right: 50px;
    }
    .slider-content-2 h2 {
        font-size: 51px;
        line-height: 65px;
    }
    .pt-180 {
        padding-top: 142px;
    }
    .pb-178 {
        padding-bottom: 140px;
    }
    .product5-title > h4 {
        margin-bottom: 2px;
    }
    .product-action-4 a {
        height: 38px;
        width: 38px;
    }
    .product-action-4 a.action-plus-2,
    .product-action-4 a.action-cart-2 {
        font-size: 15px;
    }
    .product-action-4 a.action-reload {
        font-size: 14px;
    }
    .product-action-4 a i {
        line-height: 38px;
    }
    .twitter-icon {
        margin-right: 10px;
    }
    .pr-155 {
        padding-right: 76px;
    }
    .hm-4-padding .container-fluid {
        padding: 0 50px;
    }
    .communication-info {
        margin-right: 0px;
    }
    .footer-widget.pl-100,
    .footer-widget.pl-125 {
        padding-left: 0;
    }
    .product-details-tab.mr-40 {
        margin-right: 20px;
    }
    .product-list-details.product-list-width-2 > h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .product-list.product-list-width-2 .product-img,
    .product-list.product-list-width-3 .product-img {
        margin-right: 12px;
        width: 200px;
    }
    .product-list-width-2 .product-list-details > h2 {
        font-size: 18px;
    }
    .product-list.product-list-width-3 .product-width {
        flex: 0 0 50%;
    }
    .sidebar-search-input {
        padding: 250px 0 0;
    }
    .services-text > h5 {
        font-size: 14px;
    }
    .main-menu nav ul li > ul.mega-menu {
        left: -135px;
    }
    .sidebarmenu-wrapper {
        width: 320px;
    }
    .product-content-4 {
        padding: 60px 40px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu nav > ul > li {
        padding: 0 5px;
    }
    .main-menu nav > ul > li > ul.lavel-menu {
        left: -95px;
    }
    .main-menu nav ul li > ul.mega-menu {
        left: -230px;
        width: 630px;
    }
    .main-menu ul li a {
        font-size: 12px;
    }
    .main-menu nav ul li > ul.mega-menu li ul > li > a,
    .main-menu nav ul li ul li > a,
    .stick .main-menu nav ul li ul li > a {
        font-size: 13px;
    }
  
    .slider-2 {
        padding: 190px 0 135px;
    }
    .slider-content-2.mt-150 {
        margin-top: 55px;
    }
    .slider-content-2 h2 {
        margin: 15px 0 20px;
    }
    .slider-content {
        margin-top: 40px;
    }
    .mt-150 {
        margin-top: 110px;
    }
    .slider-single-img-2 img {
        padding: 0 0 0 60px;
    }
    .slider-content p {
        width: 100%;
    }
    .mrg-mb-md {
        margin-bottom: 30px;
    }
    .dealy-product-img {
        text-align: center;
    }
    .dealy-product-img.f-right {
        text-align: center;
        float: inherit;
    }
    .dealy-product-content {
        margin: 30px 0 35px;
    }
    .blog-padding .container-fluid,
    .footer-padding .container-fluid,
    .services-padding .container-fluid {
        padding: 0 50px;
    }
    .slider-content-2 h2 {
        font-size: 38px;
        line-height: 54px;
        margin: 27px 0 31px;
    }
    .mt-179 {
        margin-top: 57px;
    }
    .product-padding .container-fluid {
        padding: 0 50px;
    }
    .single-testimonial > p {
        width: 78%;
    }
    .testimonial-active.owl-carousel .owl-nav div {
        left: 10px;
    }
    .testimonial-active.owl-carousel .owl-nav div.owl-next {
        right: 10px;
    }
    .services-icon {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .single-services {
        display: block;
    }
    .banner-padding .container-fluid,
    .hm-3-padding .container-fluid {
        padding: 0 50px;
    }
    .overview-content {
        margin-top: 30px;
        padding: 0 50px;
    }
    .h3-services .single-services {
        margin-right: 10px;
        padding: 25px 10px;
    }
    .h3-services .single-services:last-child {
        margin-right: 0px;
    }
    .pr-100 {
        padding-right: 58px;
    }
    .pl-195 {
        padding-left: 20px;
    }
    .pr-195 {
        padding-right: 20px;
    }
    .pr-155 {
        padding-right: 57px;
    }
    .contact-message-wrapper {
        margin-top: 50px;
    }
    .about-us-details {
        margin-top: 30px;
    }
    .hm-4-padding .container-fluid {
        padding: 0 50px;
    }
    .communication-info {
        margin-right: 0px;
    }
    .sidebarmenu-wrapper {
        width: 300px;
        padding: 130px 35px 15px;
    }
    .follow-icon ul li {
        margin-right: 6px;
    }
    .blog-sidebar-wrapper.sidebar-mrg.pl-20 {
        padding-left: 0;
    }
    .blog-sidebar-wrapper.sidebar-mrg2.pr-20 {
        padding-right: 0;
    }
    .blog-sidebar-wrapper.sidebar-mrg {
        margin-top: 50px;
    }
    .footer-widget.pl-100,
    .footer-widget.pl-125 {
        padding-left: 0;
    }
    .blog-reply-wrapper form .text-leave input {
        margin-top: 30px;
    }
    .table-content table th {
        font-size: 15px;
    }
    .discount-code {
        margin-right: 10px;
        padding: 55px 20px;
    }
    .product-details-tab.mr-40 {
        margin-right: 0px;
    }
    .product-details-img-content .easyzoom {
        display: block;
    }
    .product-details-content {
        margin-top: 50px;
    }
    .product-details .easyzoom {
        display: block;
    }
    .product-details.pr-40 {
        padding-right: 0;
    }
    .product-filter-wrapper {
        padding: 45px 25px 12px;
    }
    .product-tags a {
        margin-right: 5px;
    }
    .product-list.product-list-width-2 .product-width,
    .product-list.product-list-width-3 .product-width {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sidebar-search-input form .form-search input {
        width: 500px;
    }
    .sidebar-search-input {
        padding: 200px 0 0;
    }
    .services-text > h5 {
        font-size: 15px;
    }
    .modal-dialog {
        min-width: 100%;
    }
    .quickview-btn-cart {
        margin: 0 12px;
    }
    .quickview-btn-cart > a {
        padding: 14px 10px;
    }
    .main-menu nav ul li > ul.mega-menu li ul > li.mega-menu-title {
        font-size: 14px;
    }
    
}

@media (max-width: 1366px){
    .banner-bg {height:680px;z-index: 9;}
    .slider-1 {
        padding: 404px 0 60px;
    }
.ads-area .container-fluid {
    padding: 0 310px;
}
   
}


@media (max-width: 1024px) {.main-menu ul li {
    display: inline-block;
    padding: 0 12px;
    position: relative;
}
.ads-area .container-fluid {
    padding: 0 197px;
}

.banner-title-box {display:none;}
.mt-200 {
    margin-top: 181px!important;
}
.slider-1 {
    padding: 265px 0 68px;
}
}

@media (max-width: 1024px){

@media (max-width: 768px) {
    .logo-menu-wrapper {float: left;}
    header .cart-menu select{color:#000!important;}
    .cart-menu .navbar-toggler {border:1px solid #000;}
    .cart-menu .navbar-toggler-icon span {background:#000;}
     
    button.navbar-toggler {
           float: right;
    position: relative;
    /* right: -110px; */
    z-index: 99;
    top: 15px;
    float: right;
    position: absolute;
    RIGHT: 0px;
    TOP: -68PX;
    }
    .navbar-collapse  {background: #fff; padding: 10px 0;}
    .main-menu ul li a {
        color: #000;}
    .mobile-box {position: relative;} 
    .main-menu ul li {display: block;}
 
    .main-menu .dropdown-menu.show {position: relative; width: 100%; border: 0;}
    .main-menu ul li{padding: 8px 2px;border-bottom: 1px solid rgb(241, 241, 241);}
    .main-menu ul li a {padding: 0 10px; }
    .ads-area .container-fluid {
        padding: 0 20%;
    }
    .stick .navbar-toggler {
        border: 1px solid #000;
    }
    .stick .navbar-toggler-icon span {
        display: block;
        background: #000;
        height: 2px;
        margin-top: 6px;
    }
    .stick .mt-60 {
        margin: 0px 0 0 0;
    }

    .update-checkout-cart {width: 200px; margin:0 auto}
    .table-content table td.product-thumbnail {
        width: 100%;
        display: inline-block;}
        .table-content table td.product-name {width: 100%;}
        .product-thumbnail img { width: auto;}
        .table-content table td {text-align: center;}
        .table-content table td.product-price {width: 100%;}
        .table-content table td.product-quantity{width: 100%;}
        .table-content table td.product-subtotal.product-subtotal{text-align: center;width: 100%;}
        .table-content table td {padding: 10px 0;}
        .table-content  table {
      border: 0;
    }
  
    .table-content  table caption {
      font-size: 1.3em;
    }
  
    .table-content table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    .table-content table tr {
    
      display: block;
      margin-bottom: 0.625em;
    }
  
    .table-content table td {
     
      display: block;
      font-size: 0.8em;
      
    }
  
    .table-content table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .table-content table td:last-child {
      border-bottom: 0;
    }
    .cart-shiping-update{margin-bottom:0px;}
 }

/* small mobile :320px. */

@media (max-width: 767px) {
 .navbar-expand-lg .navbar-nav .dropdown-menu {
    height:auto;
    left: 0px;
    right: 0px;
   width: auto;
    margin-left: auto;
   
}
    .lux-enter{margin-top:10rem;}
    .box-img-baaner {DISPLAY:NONE;}
  .logo-menu-wrapper.text-center {text-align:left!important;}
  .mobile-header-hide-col {display:none!important;}
    .banner-title-box{display:none;}
    .cart-content ul {
        margin-top: 0px;
    }
    #Productcarousel .row{margin:0}
    .time-piece{ top: -19px;}
    .banner-bg {
        height: 380px;}
        .slider-1 {
            padding: 320px 0 68px;
        }
    .banner-title-box{display: none;}
    .luxwatch-box {margin-bottom:30px;}
    .stick .header-site-icon {
        top: -25px;
    }
    .mt-280 {
        margin-top: 48px!important;
    }.neg-top-120 {
        position: relative;
        top: 50px;
    }
    .video_wrapper_full {
        height: 100%;
        padding-bottom: 120px;
    }
    .ads-area .container-fluid {
        padding: 0 10%;
    }
   
    .ads-area .mt-200 {margin:0}
    .watch-container  img {margin-top:20px; margin-bottom: 30px;}
    .pt-80.watch-container{padding-top:0}
    .dealy-product-content-left.mt-130 {margin-top:0}
    .hide-center{display:none}
    .collapse.show {
        display: block;
        POSITION: ABSOLUTE;
        WIDTH: 100%;
        z-index: 99; top:10px;
    }
    .sidebar-search-icon {
        right: 75px;
    }
    .sidebar-search-input form .form-search input {
        width: 240px;
    }
  
    .logo-small-device {
        display: block;
    }
    .stick .logo-small-device {
        display: none;
    }
    .slider-content {
        margin-top: 50px;
    }
    .slider-content h2 {
        font-size: 30px;
    }
    .slider-single-img > img {
        float: inherit;
        padding-left: 0px;
        text-align: center;
    }
    .slider-single-img {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .product-tab-list a h4 {
        margin: 0 9px 5px;
    }
    .banner-content-5 {
        padding: 10px 15px;
    }
    .banner-content-5 > h3 {
        margin: 5px 0 5px;
    }
    .banner-content-5 > h2 {
        display: none;
    }
    .dealy-product-content > h3 {
        font-size: 22px;
    }
    .dealy-product-content {
        margin: 50px 0;
    }
    .timer span {
        margin: 0 15px 20px;
    }
    .blog-padding .container-fluid,
    .footer-padding .container-fluid,
    .services-padding .container-fluid {
        padding: 0 15px;
    }
    .section-title > h2::before {
        left: -45px;
        width: 35px;
    }
    .section-title > h2::after {
        right: -45px;
        width: 35px;
    }
    .footer-payment-method {
        float: left;
        margin-top: 10px;
    }
    .pb-107 {
        padding-bottom: 57px;
    }
    .pt-130 {
        padding-top: 80px;
    }
    .section-title.text-center > h2 {
        font-size: 30px;
    }
    .pb-80 {
        padding-bottom: 30px;
    }
    .pb-95 {
        padding-bottom: 45px;
    }
    .pb-90 {
        padding-bottom: 40px;
    }
    .pb-85 {
        padding-bottom: 35px;
    }
    .pt-125 {
        padding-top: 75px;
    }
    .sidebar-cart {
        width: 100%;
    }
    .wrap-sidebar {
        padding: 45px 22px 0;
    }
    .btn-style.cart-btn-style {
        margin-right: 10px;
        padding: 16px 22px 15px;
    }
    .hm-blog .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .hm-blog .row div[class^="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo-small-device img {
        max-width: 100%;
    }
    .stick .menu-icon.menu-icon-none {
        display: none;
    }
    .slider-content-2 h2 {
        font-size: 35px;
        line-height: 50px;
        margin: 10px 0 16px;
    }
    .slider-single-img-2 img {
        padding: 0;
        width: 100%;
    }
    .slider-single-img-2 {
        margin-bottom: 50px;
        margin-top: 33px;
    }
    .banner-content-6 > h2 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 10px;
    }
    .banner-position-7 {
        padding: 20px;
        top: 0;
    }
    .product-padding .container-fluid {
        padding: 0 15px;
    }
    .banner-content-7 > h2 {
        font-size: 30px;
        margin: 8px 0 12px;
    }
    .single-testimonial > p {
        padding: 0 15px;
        width: 100%;
    }
    .testimonials-area .container-fluid {
        padding: 0 15px;
    }
    .mb-55 {
        margin-bottom: 35px;
    }
    .services-wrapper {
        display: block;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .pb-125 {
        padding-bottom: 75px;
    }
    .testimonial-active.owl-carousel .owl-nav div {
        left: -11px;
    }
    .testimonial-active.owl-carousel .owl-nav div.owl-next {
        right: -11px;
    }
    .banner-padding .container-fluid,
    .hm-3-padding .container-fluid {
        padding: 0 15px;
    }
    .slider-banner-content1 > h3 {
        font-size: 25px;
        line-height: 35px;
        margin: 15px 0 25px;
    }
    .slider-banner-content1 {
        left: 20px;
        top: 20px;
    }
    .slider-banner-content2 {
        left: 12px;
        top: 10px;
    }
    .slider-banner-content2 > h3 {
        font-size: 22px;
        line-height: 30px;
        margin: 2px 0 5px;
    }
    .section-title-3 h2 {
        font-size: 36px;
    }
    .pt-105 {
        padding-top: 55px;
    }
    .mb-90 {
        margin-bottom: 65px;
    }
    .section-title-3 h2::before {
        bottom: -15px;
    }
    .zoom-out {
        margin: 0 10px;
    }
    .overview-content {
        padding: 0 20px;
    }
    .overview-content > h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .overview-content > h3 {
        font-size: 19px;
    }
    .ptb-110 {
        padding: 65px 0;
    }
    .pb-115 {
        padding-bottom: 65px;
    }
    .pt-120 {
        padding-top: 70px;
    }
    .hm-4-padding .container-fluid {
        padding: 0 15px;
    }
    .pl-195 {
        padding-left: 15px;
    }
    .pr-195 {
        padding-right: 15px;
    }
    .pt-180 {
        padding-top: 87px;
    }
    .pb-178 {
        padding-bottom: 85px;
    }
    .slider-single-img-3 {
        margin: 30px 0 0 15px;
    }
    .product-content-4 {
        padding: 10px 10px 15px;
    }
    .product-content-4 > h2 {
        font-size: 25px;
    }
    .pt-85 {
        padding-top: 50px;
    }
    .about-us-details {
        margin-top: 30px;
    }
    .ptb-130 {
        padding: 100px 0;
    }
    .communication-info {
        margin-right: 0px;
    }
    .ptb-130 {
        padding: 80px 0;
    }
    .contact-message-wrapper {
        margin-top: 50px;
    }
    .mobile-menu-area {
        display: block;
    }
    .mean-container a.meanmenu-reveal {
        border: 1px solid #666;
        height: 18px;
        line-height: 1;
        top: -47px;
        transition: all 0.7s ease 0s;
    }
    .same-style {
        margin-left: 10px;
    }
    .header-site-icon {
        margin-right: 40px;
    }
    .mobile-menu .mean-nav ul.menu-overflow {
        height: 220px;
        margin-top: 10px;
        overflow-y: auto;
    }
    .stick .mean-container a.meanmenu-reveal {
        top: -40px;
    }
    .header-2 .logo-menu-wrapper {
        padding-top: 30px;
    }
    .stick.header-2 .logo-menu-wrapper {
        padding-top: 0px;
    }
    .meanmenu2-style .mean-container a.meanmenu-reveal {
        top: -54px;
    }
    .stick .meanmenu2-style .mean-container a.meanmenu-reveal {
        top: -40px;
    }
    .blog-content > h2 {
        font-size: 19px;
    }
    .importent-title > h4 {
        font-size: 18px;
        line-height: 28px;
    }
    .highlights-img {
        margin-right: 18px;
    }
    .dec-mrg {
        margin-top: 30px;
    }
    .blog-dec-tags-social {
        display: block;
    }
    .blog-dec-social {
        margin-top: 5px;
    }
    .administrator-wrapper {
        display: block;
    }
    .administrator-img,
    .blog-comment-img {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .single-comment-wrapper {
        display: block;
    }
    .single-comment-wrapper.mt-50.ml-125 {
        margin-left: 0;
    }
    .sidebar-mrg {
        margin-top: 50px;
        padding-left: 0;
    }
    .footer-widget.pl-100,
    .footer-widget.pl-125 {
        padding-left: 0;
    }
    .link-post {
        padding: 64px 25px 66px;
    }
    .quote-post {
        padding: 74px 30px 77px 38px;
    }
    .blog-reply-wrapper form .text-leave input {
        margin-top: 30px;
    }
    .mb-70 {
        margin-bottom: 40px;
    }
    .mb-60 {
        margin-bottom: 50px;
    }
    .mb-65 {
        margin-bottom: 45px;
    }
    .blog-sidebar-wrapper.sidebar-mrg2.pr-20 {
        padding-right: 0;
    }
    .masonary-style .quote-post {
        padding: 74px 30px 77px 38px;
    }
    .pb-75 {
        padding-bottom: 30px;
    }
    .mb-80 {
        margin-bottom: 50px;
    }
    .table-content table td {
        padding: 30px 6px 0;
    }
    .cart-shiping-update {
        display: block;
    }
    .update-checkout-cart {
        margin-top: 10px;
    }
    .btn-style {
        padding: 13px 25px;
    }
    .discount-code {
        margin-right: 0;
        padding: 55px 15px;
        margin-bottom: 30px;
    }
    .coupon input.cart-submit {
        padding: 0 20px;
    }
    .pb-130 {
        padding-bottom: 80px;
    }
    .ship-different-title h3 label {
        font-size: 16px;
        margin-right: 5px;
    }
    .login-form-container {
        padding: 40px 20px;
    }
    .product-details-tab.mr-40 {
        margin-right: 0px;
    }
    .product-details-img-content .easyzoom {
        display: block;
    }
    .product-details-content {
        margin-top: 30px;
    }
    .quickview-btn-cart {
        margin: 0 10px;
    }
    .quickview-btn-cart > a {
        padding: 14px 10px;
    }
    .product-categories li,
    .product-details-tags li {
        margin-bottom: 8px;
    }
    .product-details .easyzoom {
        display: block;
    }
    .product-details.pr-40 {
        padding-right: 0;
    }
    .bundle-area > h3 {
        font-size: 17px;
    }
    .breadcrumb-content > h2 {
        font-size: 25px;
        letter-spacing: 0;
    }
    .product-filter-wrapper {
        padding: 45px 25px 12px;
    }
    .product-list .product-img {
        float: inherit;
        margin-bottom: 30px;
        margin-right: 0;
        width: 100%;
    }
    .pagination-style.mt-30 {
        margin-top: 10px;
    }
    .product-list.product-list-width-2 .product-width,
    .product-list.product-list-width-3 .product-width {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-top.pl-60.pr-60 {
        padding-left: 20px;
        padding-left: 20px;
    }
    .sidebar-search-input {
        padding: 150px 0 0;
    }
    .services-text > h5 {
        font-size: 15px;
    }
    .modal-dialog {
        min-width: 100%;
    }
    .modal-body {
        display: block;
        justify-content: inherit;
        padding: 15px;
    }
    .modal-body .quick-view-list.nav img {
        width: 85px;
    }
    .qwick-view-left {
        margin-right: 0;
    }
    .qwick-view-right {
        margin-top: 30px;
    }
    .dealy-product-img {
        text-align: center;
        float: inherit;
    }
    .pr-155 {
        padding-right: 0;
    }
    .slider-2 {
        padding: 45px 0;
    }
   
    #exampleModal .close,
    #exampleCompare .close {
        right: 70px;
    }
    .banner-wrapper.mrg-mb-md {
        margin-bottom: 30px;
    }
    p.checkout-coupon input[type="text"] {
        width: 135px;
    }
    p.checkout-coupon input[type="submit"] {
        padding: 5px 15px;
    }
    .your-order {
        padding: 30px 10px 45px;
    }
    .blog-gallery-slider .owl-nav div.owl-next, .slider-active .owl-nav div.owl-next {
      right: 20px;
    }
    .blog-gallery-slider .owl-nav div, .slider-active .owl-nav div {
      left: 20px;
        font-size: 25px;
    }    
    
    .footer-widget.mb-30.f-right {
      float: left;
    }
    
    
    .mt-200 {
    margin-top: 120px!important;
}
    
   #navbarSupportedContent {
        position: fixed;
    top: 0;
    left: 15px;
    z-index: 99;
    width: 310px;
    height: 100%;
         background-color: #ddd;
  
    }

    #navbarSupportedContent.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    #navbarSupportedContent.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .coupon2 {
        float: right;
        margin-top: 0px;
    }
    .sidebar-cart {
        right: -800px;
    }
    .mean-container a.meanmenu-reveal {
        top: -53px;
    }
    .footer-widget.mb-30.f-right {
      float: left;
    }
    
   
    
    
}

@media (max-width: 550px) {
    #exampleModal .close, #exampleCompare .close {
    right: -27px;
    top:5px;
}

.modal-body {
    padding-left: 8px;
   
}
    .modal  {width:96%;}
    .modal-body {padding-left:8px;}
    .product-img {height:300px}
   
    .mt-200 {
    margin-top: -4px!important;
}
    .navbar{padding: 1.5rem 1rem;}
    .main-menu {margin-top:-80px!IMPORTANT; margin-right:30px;}
  .slider-1 {
    padding: 133px 0 63px;
}
    header select {background: transparent!important; border: 0!important; color: #fff!important;}
    .logo {margin-bottom: 20px;}
    .logo-menu-wrapper {
        float: none;
    }
    button.navbar-toggler {
        
        RIGHT: 0px;
        TOP: 4PX;}

    .logo {text-align:center;}
         .header-site-icon {
                 position: relative;
    top: -39px;
}
.signin .white {color:#000;}
.navbar-toggler-icon span {
   
    background: #000;
   
}
.section-title.text-center > h2 {
    font-size: 25px;
}
.detail-text p {
    color: #000;
    font-size: 14px;
}
.footer-top {text-align:center;}
.watch-bg {background:none;}
.watch-bg .pb-80 {padding-bottom:0;}
.product-area.pt-80 {padding-top:20px;}
.banner-bg {display:none;}
.navbar-toggler {
    border: 1px solid #000;
}
   .same-style button, .same-style a{color:#000;}     
     
        .same-style {
    margin-left: 3px;
        position: relative; width:40px;
}
.star-top {
    position: absolute;
    top: 29px;}
    .product-content > h4 {
   
    font-size: 14px;
}
.transparent-bar.stick {
    padding: 0;
}
h2 {
    font-size: 28px;
}
.watch-container p {
    font-size: 14px;}
    .watch-container img {
    width: 90%!important;

}
.ads-img img {
    width: 79%;
}
.footer-bottom-link {text-align:center;}
.copyright.text-right{text-align:center!important;}
.footer-widget.mb-30{margin-bottom:0;}
.footer-payment-method{margin-top: 0px;}
.hm-wrapper.mb-40.mt-140{margin-top:0px;}
.product-price > span{font-size: 14px;}
.social-media .text-right{text-align:center!important;}
.timer span { font-size: 26px;}
        .main-menu.mt-40 {margin-top:60px}
        .collapse.show {
            LEFT:0;
            display: block;
            POSITION: ABSOLUTE;
            WIDTH: 99%;
            z-index: 99;
            top: 50px;
        }
        .header-login button span {right:7px;}

        .header-cart button span {right:7px;}
        .time-box { width: 88%;}
        .watch-container img {  width: 100%; margin-left: -13px;
}
.banner-img {text-align:center;}
.banner-img img {width:80%;}
.ads-img {text-align:center;}
.ads-img img {
    width: 87%;
}
.div-img {
    height: 289px;
}

.big-italic-font {font-size: 21px!important;
    line-height: 32px;}
    .competition-box-outer .col-md-6 {
    padding: 0 20px 0 16px;
}
.dealy-product-content-left.mt-120{margin-top: 37px!important;}
.div-img img {
    width: 76%;
}
.product-size ul li a, .product-share ul li a { height: 48px;line-height: 48px; width:48px;}
    select {padding-left:0!important; font-size:13px!important;}
    .language {
    margin-left: 3px!important;
}
.hm-wrapper.mb-40 {
    margin-bottom: 0px;
}
.footer-bottom .row.mt-40{margin-top:0;}
#carousel2 .product-img {
    height: 235px;
}
.product-img {
    height: 200px;
}
.resent-tab-tab-list.nav a h4 {
    font-size: 16px;}
    .div-img {
    height: 230px;
}
.competition-box-outer .mt-120 {margin-top:20px;}
}


